<h3>Rule List</h3>
<div id="rule-list-flex-container">
    <h4 *ngIf="getRules().length == 0">No Rules. Rules will appear here when you create them.</h4>
    <div class="rule-list-item" *ngFor="let rule of getRules()">
        <h4>{{rule.getScope()}}</h4>
        <button (click)="removeRule(rule.getScope())">Remove</button>
    </div>
</div>
<br>
<br>
<div *ngIf="getRules().length != 0">
    <b>Generated JSON</b>
    <br><br>
    <textarea disabled="true" cols="150" rows="10">{{getJson()}}</textarea>
</div>