<div id="top-container">
    <div id="title-box">
        <h2>ExtensionSettings Generator</h2>
        <h4>v0.1.0</h4>
    </div>
    <div id="rule-creator">
        <app-rule-selector (newRuleEvent)="onRuleSelected($event)" [disabled]="selectedRule"></app-rule-selector>
    </div>
</div>
<hr>
<app-rule-editor *ngIf="selectedRule" [rule]="selectedRule" (onSave)="deselectRule()" (onDiscard)="deselectRule()"></app-rule-editor>
<app-rule-list *ngIf="!selectedRule"></app-rule-list>
<div id="update-urls">
    <hr>
    <p><b>Edge Store Update Url: </b>https://edge.microsoft.com/extensionwebstorebase/v1/crx</p>
    <p><b>Chrome Store Update Url: </b>https://clients2.google.com/service/update2/crx</p>
</div>