<div id="rule-editor-container">
    <app-collapsible title="Allowed Types" *ngIf="shouldShowComponent(keys.allowedTypes)">
        <app-checkbox-list [items]="extensionTypesList" (onSelectedItemsChanged)="allowedTypesChanged($event)"></app-checkbox-list>
    </app-collapsible>
    
    <app-collapsible title="Blocked Permissions" *ngIf="shouldShowComponent(keys.blockedPermissions)">
        <app-checkbox-list [items]="permissionsList" (onSelectedItemsChanged)="blockedPermissionsChanged($event)"></app-checkbox-list>
    </app-collapsible>
    
    <app-collapsible title="Installation Mode" *ngIf="shouldShowComponent(keys.installationMode)">
        <app-radio-button-list [items]="installationModes" (onSelectedItemChanged)="installationModeChanged($event)"></app-radio-button-list>
        <div id="text-box-container" *ngIf="this.isExtensionRule()">
            <app-validated-text-box title="Update URL" (onValueChange)="updateUrlChanged($event)"
                [validator]="urlValidator"></app-validated-text-box>
            <app-validated-text-box title="Minimum Version" [validator]="minVersionValidator"
                (onValueChange)="minVersionChanged($event)"></app-validated-text-box>
        </div>
    </app-collapsible>
    
    <app-collapsible title="Install Sources" *ngIf="shouldShowComponent(keys.installSources)">
        <app-item-list placeholder="URL" [validator]="matchPatterValidator" (onListChanged)="installSourcesChanged($event)"></app-item-list>
    </app-collapsible>
    
    <app-collapsible title="Runtime Allowed Hosts" *ngIf="shouldShowComponent(keys.runtimeAllowedHosts)">
        <app-item-list [validator]="matchPatterValidator" (onListChanged)="runtimeAllowedHostsChanged($event)"></app-item-list>
    </app-collapsible>
    
    <app-collapsible title="Runtime Blocked Hosts" *ngIf="shouldShowComponent(keys.runtimeBlockedHosts)">
        <app-item-list [validator]="matchPatterValidator" (onListChanged)="runtimeBlockedHostsChanged($event)"></app-item-list>
    </app-collapsible>
    
    <app-collapsible title="Toolbar Pin" *ngIf="shouldShowComponent(keys.toolbarPin)">
        <app-radio-button-list [items]="pinningModes" (onSelectedItemChanged)="toolbarPinChanged($event)"></app-radio-button-list>
    </app-collapsible> 
</div>
<br><br>
<button (click)="onSaveClick()">Save Rule</button>
<button (click)="onDiscardClick()">Discard Rule</button>