<div id="content-container">
    <h2>ExtensionSettings Generator</h2>
    <h4>v0.1.0</h4>
    <hr />
    <div id="box-container">
        <app-collapsible title="Blocked Permissions" description="Select the permissions you want to block">
            <app-checkbox-list [items]="permissionsList" (onSelectedItemsChanged)="blockedPermissionsChanged($event)">
            </app-checkbox-list>
        </app-collapsible>

        <app-collapsible title="Runtime Blocked Hosts" description="List  of websites you specify will not be accessible to extensions">
            <app-item-list [validator]="matchPatterValidator" (onListChanged)="runtimeBlockedHostsChanged($event)">
            </app-item-list>
        </app-collapsible>

        <app-collapsible title="Runtime Allowed Hosts" description="Only the list of websites you specify will be accessible to extensions">
            <app-item-list [validator]="matchPatterValidator" (onListChanged)="runtimeAllowedHostsChanged($event)">
            </app-item-list>
        </app-collapsible>

        <app-collapsible title="Blocked Extensions" description="Add the CRX ID's of the extensions you want to block">
            <label>
                <input type="checkbox" [formControl]="blockAllExtensionsCheckbox">
                Block all extensions
            </label>
            <br><br>
            <app-item-list placeholder="Extension Id" [validator]="extensionIdValidator"
                (onListChanged)="blockedExtensionsChanged($event)"></app-item-list>
        </app-collapsible>

        <app-collapsible title="Allowed Extensions" description="Add the CRX ID's of the extensions you want to allow">
            <app-item-list placeholder="Extension Id" [validator]="extensionIdValidator"
                (onListChanged)="allowedExtensionsChanged($event)"></app-item-list>
        </app-collapsible>

        <app-collapsible title="Force Installed Extensions" description="Add the extensions that you want to silently install in your organization">
            <app-item-list placeholder="extension_id;update_url" [validator]="forceInstallEntryValidator"
                (onListChanged)="forceInstallListChanged($event)"></app-item-list>
        </app-collapsible>

        <app-collapsible title="Allowed Types"
            description="Define the type of add-ons that you want to allow in your organization">
            <app-checkbox-list [items]="extensionTypesList" (onSelectedItemsChanged)="allowedTypesChanged($event)">
            </app-checkbox-list>
        </app-collapsible>

        <app-collapsible title="Block third party stores">
            <label>
                <input type="checkbox" [formControl]="blockThirdPartyStoresCheckbox">
                    Block third party stores
            </label>
        </app-collapsible>
    </div>
    <br><br>
    <button (click)="generateJSON()">Generate JSON</button>
    <br><br>
    <textarea *ngIf="generatedJson" disabled="true" cols="150" rows="10">{{generatedJson}}</textarea>
</div>
